.page__grid__center {
    width: 80%;
    padding: 10px;
}

.page__grid__right {
    background-color: lightgray;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
    padding: 20px;
}

.form__inputs {
    display: flex;
}

#city, 
#state, 
#zip {
    width: 25%;
}
