.page__grid__center__detail {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.detail__subhed {
    margin-top: 10px;
}

.page__timestamp {
    text-align: center;
    font-style: italic;
    margin-top: -40px;
    margin-bottom: 25px;
}