.detail__subhed {
    margin-top: 10px;
}

.detail__timestamp {
    font-style: italic;
    margin-bottom: 25px;
    margin-top: -40px;
    text-align: center;
}

.detail__page__grid__center{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    width: 250px;
}
