.detail__subhed {
    margin-top: 10px;
    text-align: center;
}

.detail__timestamp__added {
    font-style: italic;
    margin-bottom: 25px;
    margin-top: -40px;
    text-align: center;
}

.detail__timestamp__updated {
    font-style: italic;
    margin-bottom: 25px;
    margin-top: -20px;
    text-align: center;
}

.detail__page__grid__center{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.detail__invoices {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
 
.detail__flex {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
