.page__title {
    text-align: center;
    margin: 50px 0;
}

/* PAGE GRID ******************** */
.page__grid {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.page__grid__left {
    padding-right: 20px;
    padding-top: 70px;
    width: 300px;
}

.page__grid__center {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__grid__right {
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    padding: 20px;
    width: 300px;

}

/* MAIN FORM INPUT FIELDS ******************** */
input[type=date] {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

select {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 32.67px;
}

textarea {
    border: 2px solid black;
    height: 200px;
    font-family: inherit;
    font-size: inherit;
}


.form__input__fieldset {
    display: flex;
    align-items: center;
}


.form__input__label {
    align-items: center;
    display: inline-block;
    font-weight: bold;
    margin-right: 0px;
    text-align: left;
    width: 75px;
}

.input__field__form {
    /* border: none; */
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    width: 85%;
}

.form__input__triple {
    width: 150px;
}


#date, 
#invoiceNumber, 
#accountNumber {
    border: 2px solid black;
    font-family: inherit;
    font-size: .9rem;
    width: 150px;
    height: 32.67px;
}

.wide__label {
    width: 90px;
}


/* FORM LINKS ******************** */
.form__textlinks {
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
}

.form__textlink__left {
    margin-left: 90px;
    font-weight: bold;
}

.form__textlink__right {
    margin-left: 75px;
    font-weight: bold;
}

.form__textlink__left__type {
    margin-left: 75px;
    font-weight: bold;
}

.form__textlink {
    color: #1e4c92;
    cursor: pointer;
    text-decoration: none;
}

.form__textlink:visited {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.form__textlink:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* CALCULATOR FORM LINKS ******************** */
.form__input__fieldset__calc {
    display: flex;
    flex-direction: column;
}

.form__input__label__calc {
    font-weight: bold;
}

.form__input__input__calc {
    /* border: none; */
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
    text-align: right;
    height: 32.67px;
    font-weight: bold;
}
 
/* BUTTONS ******************** */
.invoice__btn {
    background-color: #1e4c92;
    border-radius: 25px;
    box-shadow: 5px 5px 20px white;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem;
    width: 200px;
}

.invoice__btn:hover {
    background-color: lightgray;
    box-shadow: 5px 5px 20px #1e4c92;
    color: #1e4c92;
    font-weight: bold;
}

.fieldset__button {
    padding-bottom: 0;
}

