.option__btns {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
 
@media only screen and (max-width: 800px) {
    .option__btns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .main__btn {
        margin-bottom: 15px;
    }
}