.navbar {
    align-items: center;
    background-color: #1e4c92;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.75);
    display: flex;
    height: 45px;
    justify-content: space-between;
}

.navbar__item,
.navbar__item:visited {
    color: white !important;
    list-style: none;
    font-weight: bold;
    width: 150px;
}

.navbar__item:hover {
    color: black !important;
    list-style: none;
    font-weight: bold;
    width: 150px;
}

.navbar__items {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.navbar__image {
    height: 30px;
    margin-left: 25px;   
}

