/* PAGE GRID ******************** */
.name__inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main__input {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#email__register {
    width: 410px;
}

/* ERROR ALERT ******************** */
.dialog {
    background-color: #1e4c92;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
    width: 300px;
}

.dialog__login {
    background-color: #1e4c92;
    text-align: center;
}

.dialog__btn {
    background-color: white;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: .2rem;
    width: 100px;
}

.dialog__btn:hover {
    background-color: lightgray;
    color: #1e4c92;
    font-weight: bold;
    box-shadow: 3px 3px 20px lightgray;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: .2rem;
    width: 100px;
}

/* TEXT LINKS ******************** */
.register__link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
}


